<Layouts.app flash={@flash} current_scope={assigns[:current_scope]}>
  <div class="px-4 py-6 sm:px-0">
    <.live_table
      fields={fields()}
      filters={filters()}
      options={@options}
      streams={@streams}
    />
  </div>
</Layouts.app>
